.navbar {
  .top {
    padding: 0px 150px;
    height: 80px;
    background-color: #15cbac;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;

    .logo {
      display: flex;
      align-items: center;
      gap: 15px;

      h1 {
        font-size: 25px;
      }
    }

    .search {
      height: 40px;
      width: 40%;
      background-color: #fff;

      input {
        height: 100%;
        width: 70%;
        border: none;
        background: none;
        outline: none;
        padding: 10px;
      }

      button {
        height: 100%;
        width: 30%;
        background-color: #ff7f54;
        border: none;
        color: white;
        cursor: pointer;
        font-size: 15px;
      }
    }

    .auth {
      display: flex;
      gap: 20px;

      a,
      button {
        background-color: #ff7f54;
        border: none;
        color: white;
        padding: 10px 20px;
        cursor: pointer;
        text-decoration: none;
      }
    }
  }

  .bottom {
    background-color: #fff;
    height: 50px;
    padding: 0px 150px;
    border-bottom: 1px solid #cccbcb;
    display: flex;
    align-items: center;
    justify-content: center;

    ul {
      display: flex;
      align-items: center;
      list-style: none;
      gap: 20px;
      height: 100%;

      a {
        text-decoration: none;
        color: #7f7f7f;
        font-size: 16px;
      }
    }

    .active {
      background-color: #ff7f54;
      height: 100%;
      display: flex;
      align-items: center;
      padding: 20px;

      a {
        color: white;
      }
    }
  }
}
